@import url("css/utils.css");

.llmv-tape {
  display: flex;
  flex-wrap: wrap;
}

.llmv-region {
  display: flex;
  flex-direction: column;
  position: relative;
  border-color: var(--llmv-c1);
  border-left-width: 1px;
  border-left-style: solid;
  border-right-width: 1px;
  border-right-style: solid;
}

.llmv-region-fields {
  display: flex;
  border-color: var(--llmv-c1);
  border-top-width: 1px;
  border-top-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.llmv-field:not(:first-child),
.llmv-subfield:not(:first-child) {
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: var(--llmv-c2);
}

.llmv-bar {
  height: 0.25rem;
}

.llmv-striped {
  background: url("css/diagonalstripes.svg");
  background-size: 8px;
  background-clip: content-box;
}